<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean class="org.springframework.security.crypto.password.NoOpPasswordEncoder" id="passwordEncoder" factory-method="getInstance"/>

    <http auto-config="true">
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login default-target-url="/fertilizers"
                    always-use-default-target="true"
                    authentication-failure-url="/login?error"
                    username-parameter="name"
                    password-parameter="password"/>
        <csrf disabled="true"/>
    </http>
    <authentication-manager>
        <authentication-provider user-service-ref="userDet">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>